@font-face{
    font-family: popR;
    src: url(Poppins-Regular.woff);
}
@font-face{
    font-family: popB;
    src: url(Poppins-Bold.woff);
}

@font-face
{
    font-family: ntr;
    src: url(NTR-Regular.woff);
}


.topleft{
    background-color: #232020;
    height:280px;
}
.topright{
    background-color: white;
    height:280px;
}
.bottomleft{
    background-color: #232020;
    height:220px;
}
.bottomright{
    background-color: white;
    height:220px;
}
.middleleft{
    background-color: #232020;
    height:470px;
}
.middleright{
    background-color: white;
    height:470px;
}
/*la page Inscription*/
.word{
    font-family: popB;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.form-control{
    background: #FFFFFF;
    border: 2px solid #232020;
    box-sizing: border-box;
    border-radius: 10px;
}

/*la page Login*/
.btn1{
    background: #02B19B;
    box-shadow: 0px 4px 4px rgba(2, 177, 155, 0.25);
    border-radius: 30px;
    font-family: popB;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
 .btn2{
    background: #8757EF;
    box-shadow: 0px 4px 4px rgba(135, 87, 239, 0.25);
    border-radius: 30px;

    font-family: popB;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 36px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
 }
.bien{
    font-family: popR;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 96px;
    align-items: center;

    color: #FFFFFF;
 }

h2{
    font-family: popB;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
 }


/*la page acceuil*/
.btn-connexion{
    background: #02B19B;
    box-shadow: 0px 4px 4px rgba(2, 177, 155, 0.25);
    border-radius: 30px;
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.btn-search{
    background: #8757EF;
    border-radius: 30px;
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.navbar a{
    font-family: popR;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
    color: #8757EF;
}
.navbar .navbar-brand{
    font-family: popR;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
display: flex;
align-items: center;

color: #232020;
}

.navbar .navbar-nav .nav-item li>a{
    font-family: popR;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #8757EF;
}

.navbar-toggler {
    background: rgb(90, 85, 85);
}
.form-control-search{
    background: #FFFFFF;
    border: 2px solid #232020;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.welcome{
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #8757EF;
}


.discussion{
    font-family: popB;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    color: #232020;
}
.groupe{
    font-family: popB;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #232020;
}


.creer-post{
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #8757EF;
}

.btn-back{
    background: #02B19B;
    box-shadow: 0px 4px 4px rgba(2, 177, 155, 0.25);
    border-radius: 30px;
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn-repondre{
    background: #02B19B;
    box-shadow: 0px 4px 4px rgba(2, 177, 155, 0.25);
    border-radius: 30px;
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.btn-create-post {
    background: #8757EF;
    border-radius: 30px;
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.btn-create-group{
    background: #8757EF;
    border-radius: 30px;
    font-family: popR;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


.list-group-item-post{
    background: #E1D5FB;
}

.list-group-item-group{
    background: #ACD8D3;
}
